.color{
	text-align: center;
	background-color:#ed6b75;
	color:#ffffff;
	display:block;
	
}

.color:hover{
	background-color:#dc3545;
		color:white;
} 
.clr{
	padding:2px;
	margin-right:10px;

}
.hea_color{
	background-color: #eef1f5;
	color:black;
}
.hea_color1:hover
{
	background-color: #eee;
}
.color_1{
	background-color: #e8e8e8;
	text-align: center;
}
.clr1{
	color:#4ABAD2;
}
.clr2{
	color:#F1C40F;
}

.clr3{
	color:#E44F56;
}

.clr4{
	color:#6673FC;
}

.clr5{
	color:#222c3c;
}
.sub_head{
	padding-left:30px;
}
.check_mail{
	display:inline-block;
	padding:5px;
	float:left;
	font-size: 20px;
	margin-right: 10px;
	margin-top: 20px;
}

.check_mail1{

	float:right;
	font-size: 25px;

	margin-right: 10px;
	padding:5px;
}
.img_clr{
	padding:5px;
	height:40px;
	width:50px;

}	
	
.ta_box{
	border-top:1px solid lightgray;
	border-bottom:1px solid lightgray;
	border-left:1px solid lightgray;
	border-right:1px solid lightgray;
	margin:2px;
}
.colors{
	color: #fd7e14;

}
.compose{
		padding: 15px;
}
.mail_box:hover{
	background-color: #eef1f5;

}
.bad_12{
	background-color: #17a2b8;
	color:white;
	
	padding:2px;
	border-radius: 3px;

}
.view1
{
	padding:10px;
	border:1px solid  #dee2e6;

}
.img_view{
	width:50px;
	height:50px;
	border-radius: 100px;
	float:left;


}
.view_p{
	padding:10px;
	line-height: 2em;
	font-size: 17px;
	margin-bottom: 15px;

}
.view_p1{
	padding:10px;
	margin-bottom: 15px;
	line-height: 2em;
	font-size: 17px;
}
.color_view{
	color:#17a2b8;
	margin-left: 4px;
}
.iii{
	padding:10px;

}	
.img-circle{
	
	width:100px;
	margin-left: 40px;
}
.view_p2{
margin-left: 40px;
}
.img_cir{
	padding-top:15px;
}
.btn_color{
	background-color:#007bff;
	color:white;
}
.hhh{

	margin-right:18px;

}
.btn_clr1{
	background-color:#6c757d;
	color:white;
	margin-right:5px;
	 box-shadow:2px 2px rgba(44, 53, 66, 2);


}
.hhh1{
	margin-left:15px;
	
	}
.ggg{
	color:#6c757d;
	padding:10px;
	margin-left:5px;
	margin-top: 50px;
}
.view_p3{
	margin-bottom:10px;
	font-size: 17px;
	margin-right: 20px;
		line-height: 2em;
}
.check_mail2{

	float:left;
	font-size: 20px;
	margin-left: 30px;
	margin-bottom: 30px;
	vertical-align: right;
	margin-top: 10px;

}
.check_mail2:hover{
background-color: #eef1f5;
border-radius:40px;

}

.text_list{
	list-style-type: none;
	display:inline-block;
	padding:20px;
	border:1px solid lightgray;
	border-top:1px solid lightgray;
	margin-left: 20px;
margin-top: 15px;
}

.btn-text{
	background-color:#888888;
	color:white;
}
.textt{
	grid-row-start:;
	grid-column-start: 100;
}
.addd

{
	margin-bottom:10px;
	margin-left: 15px;
}
.choose{
	margin-bottom:10px;
	margin-top: 10px;
	padding-left: 20px;
}
.tabs{
	border:1px solid lightgray;
}
.texx{
	margin-left:0
	px;
	width:100%;
	margin-top:15px;

}
.choos{
		margin-left: 11px;
		margin-bottom:10px;
}			

.btn-text{
	margin-left:10px;
}





.txtn{
	border:1px solid gray;
}




<!----tooltip--->
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}





@media  (max-width: 1024px) and (min-width: 768px) {
	.check_mail{
		
		margin-right: -15px;
	}

}


@media  (max-width: 640px) and (min-width: 1024px) {
