.bussiness{
	padding:25px;
}

.header {
	background-color: #E3F1F9;
}
.con_header
{
	color:#3A6C86;
}
.newsletter{
	background-color:#ADD6ED;
	padding:10px;
	margin-top: 10px;
}
.btn_clr{
	background-color:#3A6C86;
	color:white;
}

.nav_custom{
    margin-top:0px;
    }
 .navbar-inverse .navbar-nav li a {
    
   background-color: black;
	color:white;
    text-align: center;
}
.nav_bar
{
	float:right;
	
}
.nav_custom li:hover{
        background-color: #059BD8;
}

.con_top{
	background-color:#2684B7;
	display: block;
   
}

.senter{
	display:block;
	font-size: 16px;
	background-color:#1C5E82;
	color:white;
	padding:10px;
	float:left;
	text-decoration: none;
	margin-left: 80px;
}
.senter_top{
	padding:18px;
	background-color:#2684B7;
	color:white;
	font-size: 20px;
	display:inline-block;
	line-height: 2.0em;

}
.img_top
{
	float:right;

}
.image_facil
{
 float:left;


}
.news {
 padding:2px 0px;
}
.clr a{
		padding:3px;
		background-color:#666666;
		color:white;
		font-size: 15px;
		display:inline-block;
		text-decoration: none;
  		margin-left: 5px;
  		padding-right:10px;
  		margin-top: 0px;
}
.facils{
	background-color:#EFEFEF;
	font-size: 16px;
	line-height:25PX;
	padding:2px; 
}
	
.pg .pglost{
	padding:12px;
}
.clr{
	color:#2684B7;
}
.name{
	background-color: #3A6C86;
	color:white;
}
#login_go {
    width: 68px;
    height: 62px;
	 font-weight: bold;
      color: #FFFFFF;
    font-size: 60px;
	background-color: #2684B7;
    border: 1px solid #1C5E82;
    padding-bottom: 60px;
}
.lost{
	  font-size: 11px;
	  font-family: verdana, Arial, Helvetica, sans-serif;
	}
.fl_right
{
	float:right;

}
.footer{
	background-color: #F3F3F3;
}
.lacus{
	color:#2684B7;
}
.eros_h{
	color:#999999;
}
.footer_content{
	
	padding:50px;
	color:white;

}
.footer_last{
	background-color:#29313C;
}

.head_line{
	color: #666666;
	font-size: 12px;

}
.text-left{
	margin-bottom: 100px;
}

th{
	background-color: #666666;
	color:white;
}
td{
	background-color:#f7f7f7;
}
.comments{
	padding-bottom:10px;
	margin: 5px 5px 10px 0;
}
.head_second {
		padding:10px;
	padding-right: 10px;

}
.sub{
	padding-left: 10px;
}
.sources{
	background-color:#ebebeb;
	color:#666666;
	list-style-type: none;

	
}
..sources:hover li{
	color:#F9F9F9;
	float:right;
		
}
.img_n1{
	padding:20px;
	padding-top: 10px;
}
.nullas{
	padding:5px;
	background-color:#edebeb;
}

    .form-inline pull-right{
    	padding:10px;
  
    }


@media screen and (max-width: 360px) and (min-width: 640px) {




    
    .img-thumbnail {
	padding: 1px ! important;
}



}



@media screen and (max-width: 360px) and (min-width: 640px) {



#login_go{
	margin:67px;
}
}
@media screen and (min-width: 360px) and (max-width: 640px){
	#login_go{
		margin-right:53px;
	}
	}

